
.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #FCA311;
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  background-color: rgba(252, 163, 17, 0.1);
  mix-blend-mode: difference;
}
