.projects-section {
  padding: 4rem 2rem;
   background: url('../assets/projectbg.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #fdfdfd;
}
.body {
  font-family: 'Mulish', sans-serif; 
  color: #ffffff; 
  line-height: 1.6;
}
.projects-title {
  font-size: 2.5rem;
  color: #FCA311;
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: 'Audiowide', cursive;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.filter-btn {
  background-color: transparent;
  border: 1px solid #FCA311;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  color: #fdfdfd;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.filter-btn:hover,
.filter-btn.active {
  background-color: #FCA311;
  color: #030303;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project-row.row-reverse {
  flex-direction: row-reverse;
}

.project-img-wrapper {
  flex: 1;
  max-width: 450px;
  width: 100%;
  overflow: hidden;
}

.project-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(252, 163, 17, 0.2);
  transition: transform 0.3s ease-in-out;
}

.project-img:hover {
  transform: scale(1.02);
}

.project-details {
  flex: 1;
  max-width: 600px;
}

.project-details h3 {
  font-size: 1.8rem;
  color: #FCA311;
  margin-bottom: 0.5rem;
 font-family: 'Oxygen', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.project-details p {
  color: #e5e5e5;
  max-width: 800px;
  margin-top: 25px;
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 300;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 12px;
}

.tools-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
  margin-bottom: 1.3rem;
}

.tools-list li {
  background-color: #FCA311;
  color: #030303;
  padding: 0.1rem 0.9rem;
  border-radius: 9px;
  font-size: 0.8rem;
}

.project-btn {
 border: 2px solid #E5E5E5;
  color: #fdfdfd;
  background-color: transparent;
  margin-top: 20px;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;

}
 


.project-btn:hover {
  background-color: #FCA311; 
  color: #030303;
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(252, 163, 17, 0.3);

}

/* Responsive */
@media (max-width: 768px) {
  .project-row {
    flex-direction: column !important;
  }

  .project-img-wrapper,
  .project-details {
    max-width: 100%;
  }

  .project-details h3 {
    font-size: 1.5rem;
  }

  .project-details p {
    font-size: 0.95rem;
  }
}
